name: kky-blog

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Create env file
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

        run: |
          touch ./src/main/resources/application-prod.properties
          echo server.port=9001 >> ./src/main/resources/application-prod.properties
          echo spring.datasource.url="$DATABASE_URL" >> ./src/main/resources/application-prod.properties
          echo spring.datasource.username="$DATABASE_USERNAME" >> ./src/main/resources/application-prod.properties
          echo spring.datasource.password="$DATABASE_PASSWORD" >> ./src/main/resources/application-prod.properties
          echo spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver >> ./src/main/resources/application-prod.properties
          echo spring.exposed.generate-ddl=false >> ./src/main/resources/application-prod.properties
          echo jwt.secret="$JWT_SECRET" >> ./src/main/resources/application-prod.properties
          echo path.image=/root/Pictures >> ./src/main/resources/application-prod.properties
          echo spring.mvc.pathmatch.matching-strategy=ant_path_matcher >> ./src/main/resources/application-prod.properties
          cat ./src/main/resources/application-prod.properties | head -n 1

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew clean build -Pprofile=prod
        shell: bash

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: kkywalk2/kky-blog

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
